.brand-logo {
  font-weight: 200;
}

.brand-logo img {
  margin-bottom: -25px;
  height: 100px;
}

select {
  display: block;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0px;
}

.spinner-pink-only {
  border-color: #ec407a;
}
